body{
  background: url('../img/bg.jpg') no-repeat;
  background-size: 100%;
  opacity: 0.8
}

input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  -webkit-appearance: none;
}

#login {
  margin: 50px auto;
  width: 400px;
}

#login fieldset legend{
text-align: center;
  background-color: #0099cc;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  color: #fff;
  width: 200px;
  font-size: 28px;
  padding: 20px 26px;
}

#login fieldset {
  background-color: #99cccc;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  padding: 20px 26px;
}

#login fieldset p {
  color: #fff;
  margin-bottom: 14px;
  font-size: 20px;
}

#login fieldset p:last-child {
  margin-bottom: 0;
}

#login fieldset input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#login fieldset input[type="text"], #login fieldset input[type="password"] {
  background-color: #eee;
  color: #999;
  padding: 4px 10px;
  width: 328px;
}

.login span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size:3em;
  cursor: pointer;
}

input {
  height: 1.25em;
  width: 8.125em;
  font-size: 2em;
  text-align:center;
  border: 0;
  outline: 0;
  color: #009933;
  background: transparent;
  border:0.033em #009933 solid;
  margin-left: 2.1875em;
  margin-top: 1em;
  font-family: "Bebas Neue", Arial;
}

.button {
    border: none;
    display: block;
    background: #cccccc;
    height: 40px;
    width: 80px;
    color: #cccccc;
    text-align: center;
    border-radius: 5px #cccccc;

    }
    a:hover {
  color: #179b77;
}
::placeholder {
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 100px;
}
